.box{
    border: 2px solid indigo;
    margin-bottom: 7rem;
    width: 20rem;
    height: 7rem;
}
.box1{
    overflow: visible; /** default */
}
.box2{
    overflow: hidden;
}
.box3{
    overflow: scroll;
}
.box4{
    /* overflow-x: hidden;
    overflow-y: auto; */
    overflow: auto;
}
.box4 .uzun-satir{
    width: 1000px;
    color: red;
    font-size: 1rem;

}