* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: bisque;
  /* margin: 50px; */
  margin: 10px 30px; /* *üst-alt 10px , sağ-sol 30px */

  /* ! Bir Block element icerisinde inline element varsa bunlar text-align ile hizalanabilir. Block element icersindeki block elementler text-align ile hizalanmaz. */

  text-align: center;

  /* ? container div'ine her yönden 1px'lik bir ic alan acmis olduk */
  /* padding: 10px; */
  padding: 10px 30px;
}
.div {
  background-color: blueviolet;

  width: 100px;
  /* height: 30px; */
  margin-top: 10px;
  margin-bottom: 20px;

  /* ? Bir block element icerisindeki bir başka block element margin:auto ile ortalanabilir. */
  margin: auto;
  margin: 20px auto;
}
